<?xml version="1.0" encoding="UTF-8"?>
<dependency-mapping>
    <bean>
        <name>user</name>
        <class>com.model.UserBean</class>
        <property>
            <name>userName</name>
        </property>
        <property>
            <name>password</name>
        </property>
        <property>
            <name>id</name>
        </property>
    </bean>
    <bean>
        <name>loginAction</name>
        <class>com.servlet.action.LoginAction</class>
        <property>
            <name>userBean</name>
            <ref-class>user</ref-class>
        </property>
    </bean>
</dependency-mapping>